body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 100px;
}

.col-1_5 {
  width: 12.5%;
}
.col-5_5 {
  width: 45.8333333%;
}

h1 {
  font-weight: 500;
}

.header_todo {
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
  border-bottom: 2px solid black;
}
.inputHeader {
  width: 100%;
  padding: 6px;
  border: none;
  outline: none;
}
.inputHeader:focus {
  border-bottom: 1px solid aqua;
}


.box {
  text-align: center;
}

.addBtn {
  border-radius: 5px;
  width: 100%;
  background-color: inherit;
  border: 1px solid aqua;
  padding: 7px 15px;
}

select {
  appearance: none;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}
.gold {
  border: 2px solid #a6bccb;
  background-color: gold;
  color: white;
}
.green {
  border: 2px solid #6aff39;
  background-color: green;
  color: white;
}
.black {
  border: 2px solid #633cad;
  background-color: black;
  color: white;
}



select:focus{
  outline: none;
}


.taskContainer {
  padding-top: 20px;
  gap: 15px;
}

.editBtn {
  background-color: inherit;
  border: 1px solid aqua;
  padding: 5px 15px;
  border-radius: 5px;
}

.deleteBtn {
  background-color: inherit;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
}